netCDF4
matplotlib
pvlib
pandas
datetime
pytz
siphon
ruff
aiohttp
asyncio
pprintjson
openmeteo-requests
requests-cache
retry-requests
numpy
python-dotenv
click
Flask
Flask-WTF
Flask-Security-Too
gunicorn
itsdangerous
Jinja2
MarkupSafe
mysqlclient
flask-mysqldb
Werkzeug