<!--
    Date Accessed: 20240430
    Adapted From
    Used the source as a base to start from / adapted and added our own functionality 
    Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/
-->
{% extends 'base.j2' %}
{% block content %}
<section>
    <h4>{% block title %}Analyze Weather Model Accuracy{% endblock %}</h4>
    <article> 
        <p></p>
        <p>There are a variety of wind forecast models (ECMWF, GFS, MBLUE, etc.) which often have different wind forecasts
            for a given location. How do you determine which model is the most historically accurate at a given location? 
            How do you predict which model will be the most accurate forecast / which you should rely on for your next free flight?</p>
        <p></p>
        <p>This application uses the free <a href="https://open-meteo.com" target="_blank" rel="noreferrer noopener">OpenMeteo API</a> 
            to obtain wind forecast data, and a <a href="https://api.holfuy.com/" target="_blank" rel="noreferrer noopener">Holfuy device API</a>
             to obtain the measured wind forecast data. The minimal viable product uses 2 weather forecast models
            (GFS and ECMWF) and 1 Holfuy device, located at La Bajada Ridge, New Mexico.
            The codebase can be found at <a href="https://github.com/skipmcgee/wind-forecast" target="_blank" rel="noreferrer noopener">GitHub repository</a>.</p>
    </article>
</section>
<div></div>
{% for mesg in get_flashed_messages() %}
<h3>{{ mesg }}</h3>
{% endfor %}
<div></div>
<div class="grid">
    <div></div>
    <div>
        <article>
            <form method="post">
                <label for="sensorlist">Select a Sensor:</label>
                <select id="sensorlist" name="sensorlist" required>
                    {% if sensors %}
                    {% for sensor in sensors %}
                    <option value="{{ sensor.sensorID }}">{{ sensor.sensorName }}</option>
                    {% endfor %}
                    {% else %}
                    <a>You need to add a sensor before continuing</a>
                    {% endif %}
                </select>
                <p></p>
                <p>Select a Start Date:</p>
                <input type="datetime-local" id="fromDate" name="fromDate" required>
                <p></p>
                <p>Select an End Date:</p>
                <input type="datetime-local" id="toDate" name="toDate" required>
                <p></p>
                <button type="submit" id="submitButton" disabled>Submit</button>
            </form>
        </article>
    </div>
    <div></div>
</div>
<div></div>

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static',filename='js/index.js') }}"></script>
{% endblock javascript %}

{% endblock %}