<!--
    Date Accessed: 20240430
    Adapted From
    Used the source as a base to start from / adapted and added our own functionality 
    Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/
-->
{% extends 'base.j2' %}
{% block content %}
<h4>{% block title %} Edit Reading #{{specific_reading.readingID}} {% endblock %}</h4>
<div></div>
{% for mesg in get_flashed_messages() %}
<h3>{{ mesg }}</h3>
{% endfor %}
<div></div>
<div class="grid">
    <div></div>
    <div>
        <article>
            <form name="editreading" id="editreading" class="overflow-auto" action="/edit/reading/{{specific_reading.readingID}}"
                method="post">
                <fieldset>
                    <input type="hidden" value="{{specific_reading.readingID}}" class="form-control" id="readingID"
                        name="readingID" required>
                    <label for="readingSensorID">Weather Sensor:</label>
                    <select name="readingSensorID" aria-label="sensor" required>
                        {% for sensor in sensors %}
                        {% if specific_reading.readingSensorID == sensor.sensorID %}
                        <option selected value="{{sensor.sensorID}}" default="{{sensor.sensorID}}">{{sensor.sensorName}}</option>
                        {% else %}
                        <option value="{{sensor.sensorID}}">{{sensor.sensorName}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>

                    <label for="readingWindSpeed">Wind Speed:</label>
                    <input type="number" step="0.1" value="{{specific_reading.readingWindSpeed}}" class="form-control"
                        id="readingWindSpeed" name="readingWindSpeed" required>

                    <label for="readingWindGust">Wind Gust:</label>
                    <input type="number" step="0.1" value="{{specific_reading.readingWindGust}}" class="form-control"
                        id="readingWindGust" name="readingWindGust" required>

                    <label for="readingWindMin">Wind Min:</label>
                    <input type="number" step="0.1" value="{{specific_reading.readingWindMin}}" class="form-control"
                        id="readingWindMin" name="readingWindMin" required>

                    <label for="readingWindDirection">Wind Direction:</label>
                    <input type="number" step="0.1" value="{{specific_reading.readingWindDirection}}" class="form-control"
                        id="readingWindDirection" name="readingWindDirection" required>

                    <label for="readingTemperature">Wind Temperature:</label>
                    <input type="number" step="0.1"  value="{{specific_reading.readingTemperature}}" class="form-control"
                        id="readingTemperature" name="readingTemperature" required>
                    
                    <label for="readingDateID">Reading Date:</label>
                    <select name="readingDateID" aria-label="date" required>
                        {% for date in dates %}
                        {% if specific_reading.readingDateID == date.dateID %}
                        <option selected value="{{date.dateID}}">{{date.dateDateTime}}</option>
                        {% else %}
                        <option value="{{date.dateID}}">{{date.dateDateTime}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>

                </fieldset>
                <button type="submit">Submit</button>
            </form>
        </article>
    </div>
    <div></div>
</div>

{% endblock %}