<!--
    Date Accessed: 20240430
    Adapted From
    Used the source as a base to start from / adapted and added our own functionality 
    Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/
-->
{% extends 'base.j2' %}
{% block content %}
<h4>{% block title %} Edit Model #{{specific_model[0].modelID}} {% endblock %}</h4>
<div></div>
{% for mesg in get_flashed_messages() %}
<h3>{{ mesg }}</h3>
{% endfor %}
<div></div>
<div class="grid">
    <div></div>
    <div>
        <article>
            <form name="editmodel" id="editmodel" class="overflow-auto" action="/edit/model/{{specific_model[0].modelID}}" method="post">
                <!-- <legend><strong>Edit Weather Model:</strong></legend> -->
                <fieldset>
                    <input type="hidden" value="{{specific_model[0].modelID}}" class="form-control" id="modelID"
                        name="modelID" required>
                    <label for="name">Weather Model Name:</label>
                    <input type="text" value="{{specific_model[0].modelName}}" class="form-control" id="modelName"
                        name="modelName" pattern="[A-Za-z0-9\s]+" required>
                </fieldset>
                <button type="submit">Submit</button>
            </form>
        </article>
    </div>
    <div></div>
</div>
{% endblock %}