{% extends 'base.j2' %}

{% block content %}
<h4>{% block title %} Edit Forecast #{{specific_forecast.forecastID}} {% endblock %}</h4>
<div></div>
{% for mesg in get_flashed_messages() %}
<h3>{{ mesg }}</h3>
{% endfor %}
<div></div>
<div class="grid">
    <div></div>
    <div>
        <article>
            <form name="editForecast" id="editForecast" action="/edit/forecast/{{specific_forecast.forecastID}}"
                method="post">
                <fieldset>
                    <input type="hidden" value="{{specific_forecast.forecastID}}" class="form-control" id="forecastID" name="forecastID">
                    <label for="dateID">Date:</label>
                    <select name="dateID" aria-label="dateID">
                    {% for date in dates %}
                        {% if specific_forecast.dateID == date.dateID %}
                        <option selected value="{{date.dateID}}">{{date.dateDateTime}}</option>
                        {% elif date.dateDateTime != specific_forecast.dateDateTime %}
                        <option value="{{date.dateID}}">{{date.dateDateTime}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>

                    <label for="forecastTemperature">Temperature (F):</label>
                    <input type="number" step="0.01" id="forecastTemperature" name="forecastTemperature"
                        value="{{specific_forecast.forecastTemperature2m}}" required>

                    <label for="forecastPrecipitation">Precipitation:</label>
                    <input type="number" step="0.01" id="forecastPrecipitation" name="forecastPrecipitation"
                        value="{{specific_forecast.forecastPrecipitation}}" required>

                    <label for="forecastWeatherCode">Weather Code:</label>
                    <input type="text" id="forecastWeatherCode" name="forecastWeatherCode"
                        value="{{specific_forecast.forecastWeatherCode}}" required>

                    <label for="forecastPressureMSL">Pressure (MSL):</label>
                    <input type="number" id="forecastPressureMSL" name="forecastPressureMSL"
                        value="{{specific_forecast.forecastPressureMSL}}" required>

                    <label for="forecastWindSpeed">Wind Speed (10m):</label>
                    <input type="number" step="0.01" id="forecastWindSpeed" name="forecastWindSpeed"
                        value="{{specific_forecast.forecastWindSpeed10m}}" required>

                    <label for="forecastWindDirection">Wind Direction (10m):</label>
                    <input type="number" id="forecastWindDirection" name="forecastWindDirection"
                        value="{{specific_forecast.forecastWindDirection10m}}" required>

                    <label for="forecastCape">CAPE:</label>
                    <input type="number" step="0.01" id="forecastCape" name="forecastCape" value="{{specific_forecast.forecastCape}}"
                        required>
                    
                    <label for="locationID">Location:</label>
                    <select name="locationID" aria-label="locationID" required>
                    {% for location in locations %}
                        {% if location.locationID == specific_forecast.locationID %}
                        <option selected value="{{location.locationID}}">{{location.locationName}}</option>
                        {% endif %}
                        {% if location.locationID != specific_forecast.locationID %}
                        <option value="{{location.locationID}}">{{location.locationName}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>

                    <label for="modelID">Weather Model:</label>
                    <select name="modelID" aria-label="modelID">
                        {% for model in models %}
                            {% if model.modelID != specific_forecast.modelID %}
                                <option value="{{model.modelID}}">{{model.modelName}}</option>
                            {% elif model.modelID == specific_forecast.modelID %}
                                <option selected value="{{model.modelID}}">{{model.modelName}}</option>
                            {% endif %}
                        {% endfor %}
                            <option value="">None</option>
                    </select>

                    <label for="forecastForDateTime">Forecast Date/Time:</label>
                    <input type="datetime-local" id="forecastForDateTime" name="forecastForDateTime"
                        value="{{specific_forecast.forecastForDateTime}}" required>

                </fieldset>
                <button type="submit">Submit</button>
            </form>
        </article>
    </div>
    <div></div>
</div>

{% endblock %}