{% extends 'base.j2' %}

{% block content %}
    <h4>{% block title %} Edit a Forecast {% endblock %}</h4>
    <div></div>
    {% for mesg in get_flashed_messages() %}
    <h3>{{ mesg }}</h3>
    {% endfor %}
    <div></div>
    <div class="grid">
        <div></div>
        <div>
            <article>
                <form name="editforecast" id="editforecast" action="/edit/forecast/{{specific_forecast[0].forecastID}}" method="post">
                    <!-- <legend><strong>Edit Weather Forecast:</strong></legend> -->
                    <fieldset>
                        <input type="hidden" value="{{specific_forecast[0].forecastID}}" class="form-control" id="forecastID"
                            name="forecastID" required>
                        <label for="forecastDateID">Date ID:</label>
                        <input type="text" value="{{specific_forecast[0].forecastDateID}}" class="form-control" id="forecastDateID"
                            name="forecastDateID" pattern="[0-9]+([0-9]+)?" required>
                        <label for="forecastTemperature2m">Temperature:</label>
                        <input type="text" value="{{specific_forecast[0].forecastTemperature2m}}" class="form-control" id="forecastTemperature2m"
                            name="forecastTemperature2m" pattern="[-+,0-9]+([\.,][0-9]+)?" step="0.1" required>
                        <label for="forecastPrecipitation">Precipitation:</label>
                        <input type="text" value="{{specific_forecast[0].forecastPrecipitation}}" class="form-control" id="forecastPrecipitation"
                            name="forecastPrecipitation" pattern="[-+,0-9]+([\.,][0-9]+)?" step="0.1" required>
                        <label for="forecastWeatherCode">Weather Code:</label>
                        <input type="text" value="{{specific_forecast[0].forecastWeatherCode}}" class="form-control" id="forecastWeatherCode"
                            name="forecastWeatherCode" pattern="[-+,0-9]+([\.,][0-9]+)?" step="0.1" required>
                        <label for="forecastPressureMSL">Pressure:</label>
                        <input type="text" value="{{specific_forecast[0].forecastPressureMSL}}" class="form-control" id="forecastPressureMSL"
                            name="forecastPressureMSL" pattern="[0-9]+([0-9]+)?" required>
                        <label for="forecastWindSpeed10m">Wind Speed:</label>
                        <input type="text" value="{{specific_forecast[0].forecastWindSpeed10m}}" class="form-control" id="forecastWindSpeed10m"
                            name="forecastWindSpeed10m" pattern="[-+,0-9]+([\.,][0-9]+)?" step="0.1" required>
                        <label for="forecastWindDirection10m">Wind Direction:</label>
                        <input type="text" value="{{specific_forecast[0].forecastWindDirection10m}}" class="form-control" id="forecastWindDirection10m"
                            name="forecastWindDirection10m" pattern="[-+,0-9]+([\.,][0-9]+)?" step="0.1" required>
                        <label for="forecastCape">CAPE:</label>
                        <input type="text" value="{{specific_forecast[0].forecastCape}}" class="form-control" id="forecastCape"
                            name="forecastCape" pattern="[-+,0-9]+([\.,][0-9]+)?" step="0.1" required>
                        <label for="forecastModelID">Model ID:</label>
                        <input type="text" value="{{specific_forecast[0].forecastModelID}}" class="form-control" id="forecastModelID"
                            name="forecastModelID" pattern="[0-9]+([0-9]+)?" required>
                        <label for="forecastLocationID">Location ID:</label>
                        <input type="text" value="{{specific_forecast[0].forecastLocationID}}" class="form-control" id="forecastLocationID"
                            name="forecastLocationID" pattern="[0-9]+([0-9]+)?" required>
                        <label for="forecastForDateTime">Prediction For Date Time:</label>
                        <input type="datetime" value="{{specific_forecast[0].forecastForDateTime}}" class="form-control" id="forecastForDateTime"
                            name="forecastForDateTime" required>
                    </fieldset>
                    <button type="submit">Submit</button>
                </form>
            </article>
        </div>
        <div></div>
    </div>

{% endblock %}