{% extends 'base.j2' %}

{% block content %}
<h4>{% block title %} Edit Forecast #{{specific_forecast.forecastID}} {% endblock %}</h4>
{% for mesg in get_flashed_messages() %}
<h3>{{ mesg }}</h3>
{% endfor %}
<div class="grid">
    <div></div>
    <div>
        <article>
            <form name="editforecast" id="editforecast" action="/edit/forecast/{{specific_forecast.forecastID}}"
                method="post">
                <!-- <legend><strong>Edit Weather Forecast:</strong></legend> -->
                <fieldset>
                    <input type="hidden" value="{{specific_forecast.forecastID}}" class="form-control" id="forecastID"
                        name="forecastID" required>
                    <select name="date" aria-label="date" required>
                        <option selected disabled value="">{{specific_forecast.forecastDateTime}}</option>
                        {% for date in dates %}
                        <option>{{date.dateDateTime}}</option>
                        {% endfor %}
                    </select>

                    <label for="forecastTemperature">Temperature (2m):</label>
                    <input type="number" step="0.01" id="forecastTemperature" name="forecastTemperature"
                        value="{{specific_forecast.forecastTemperature}}" required>

                    <label for="forecastPrecipitation">Precipitation:</label>
                    <input type="number" step="0.01" id="forecastPrecipitation" name="forecastPrecipitation"
                        value="{{specific_forecast.forecastPrecipitation}}" required>

                    <label for="forecastWeatherCode">Weather Code:</label>
                    <input type="text" id="forecastWeatherCode" name="forecastWeatherCode"
                        value="{{specific_forecast.forecastWeatherCode}}" required>

                    <label for="forecastPressureMSL">Pressure (MSL):</label>
                    <input type="number" id="forecastPressureMSL" name="forecastPressureMSL"
                        value="{{specific_forecast.forecastPressureMSL}}" required>

                    <label for="forecastWindSpeed">Wind Speed (10m):</label>
                    <input type="number" step="0.01" id="forecastWindSpeed" name="forecastWindSpeed"
                        value="{{specific_forecast.forecastWindSpeed}}" required>

                    <label for="forecastWindDirection">Wind Direction (10m):</label>
                    <input type="number" id="forecastWindDirection" name="forecastWindDirection"
                        value="{{specific_forecast.forecastWindDirection}}" required>

                    <label for="forecastCape">CAPE:</label>
                    <input type="number" step="0.01" id="forecastCape" name="forecastCape"
                        value="{{specific_forecast.forecastCape}}" required>

                    <select name="model" aria-label="model" required>
                        <option selected disabled value="">{{specific_forecast.forecastModel}}"</option>
                        {% for model in models %}
                        <option>{{model.modelName}}</option>
                        {% endfor %}
                    </select>

                    <label for="forecastForDateTime">Forecast Date/Time:</label>
                    <input type="datetime-local" id="forecastForDateTime" name="forecastForDateTime" value="{{specific_forecast.forecastDateTime}}" required>
                </fieldset>
                <button type="submit">Submit</button>
            </form>
        </article>
    </div>
    <div></div>
</div>

{% endblock %}