{% extends 'base.j2' %}

{% block content %}
<h4>{% block title %} Add a Forecast {% endblock %}</h4>
<div></div>
{% for mesg in get_flashed_messages() %}
<h3>{{ mesg }}</h3>
{% endfor %}
<div></div>
<div class="grid">
    <div></div>
    <div>
        <article>
            <form method="POST" name="addForecast" action="/add/forecast">

                <select name="dateID" aria-label="date" required>
                    <option selected disabled value="">Date:</option>
                    {% for date in dates %}
                    <option value="{{date.dateID}}">{{date.dateDateTime}}</option>
                    {% endfor %}
                </select>

                <label for="forecastTemperature">Temperature (2m):</label>
                <input type="number" step="0.01" id="forecastTemperature" name="forecastTemperature" value="0.00"
                    required>

                <label for="forecastPrecipitation">Precipitation:</label>
                <input type="number" step="0.01" id="forecastPrecipitation" name="forecastPrecipitation" value="0.00"
                    required>

                <label for="forecastWeatherCode">Weather Code:</label>
                <input type="text" id="forecastWeatherCode" name="forecastWeatherCode" value="Max 100 characters"
                    required>

                <label for="forecastPressureMSL">Pressure (MSL):</label>
                <input type="number" id="forecastPressureMSL" name="forecastPressureMSL" value="0" required>

                <label for="forecastWindSpeed">Wind Speed (10m):</label>
                <input type="number" step="0.01" id="forecastWindSpeed" name="forecastWindSpeed" value="0.00" required>

                <label for="forecastWindDirection">Wind Direction (10m):</label>
                <input type="number" id="forecastWindDirection" name="forecastWindDirection" value="0" required>

                <label for="forecastCape">CAPE:</label>
                <input type="number" step="0.01" id="forecastCape" name="forecastCape" value="0.00" required>

                <select name="location" aria-label="location" required>
                    <option selected disabled value="">Location</option>
                    {% for location in locations %}
                    <option value="{{location.locationID}}">{{location.locationName}}</option>
                    {% endfor %}
                </select>

                <select name="modelID" aria-label="model" required>
                    <option selected disabled value="">Model</option>
                    {% for model in models %}
                    <option value="{{model.modelID}}">{{model.modelName}}</option>
                    {% endfor %}
                </select>

                <label for="forecastForDateTime">Forecast Date/Time:</label>
                <input type="datetime-local" id="forecastForDateTime" name="forecastForDateTime" value="" required>


                <button type="submit">Add Forecast</button>
            </form>
        </article>
    </div>
    <div></div>
</div>
{% endblock %}