{% extends 'base.j2' %}

{% block content %}
<h4>{% block title %} Add a Location {% endblock %}</h4>
<div></div>
{% for mesg in get_flashed_messages() %}
<h3>{{ mesg }}</h3>
{% endfor %}
<div></div>
<div class="grid">
    <div></div>
    <div>
        <article>
            <form name="addLocation" id="addLocation" action="/add/location" method="post">
                <!-- <legend><strong>Add Location:</strong></legend> -->
                <fieldset>
                    <label for="locationName">Location Name:</label>
                    <input type="text" value="max 100 characters" class="form-control" id="locationName"
                        name="locationName" pattern="[A-Za-z0-9\s]+" required>
                    <label for="locationLatitude">Latitude:</label>
                    <input type="text" value="decimal" class="form-control" id="locationLatitude"
                        name="locationLatitude" pattern="[-+,0-9]+([\.,][0-9]+)?" step="0.0001" required>
                    <label for="locationLongitude">Longitude:</label>
                    <input type="text" value="decimal" class="form-control" id="locationLongitude"
                        name="locationLongitude" pattern="[-+,0-9]+([\.,][0-9]+)?" step="0.0001" required>
                    <label for="locationAltitude">Altitude:</label>
                    <input type="text" value="integer" class="form-control" id="locationAltitude"
                        name="locationAltitude" pattern="[0-9]+([0-9]+)?" required>
                </fieldset>
                <button type="submit">Add New Location</button>
            </form>
        </article>
    </div>
    <div></div>
</div>

{% endblock %}