{% extends 'base.j2' %}

{% block content %}
<h4>{% block title %} Add a Model {% endblock %}</h4>
<div></div>
{% for mesg in get_flashed_messages() %}
<h3>{{ mesg }}</h3>
{% endfor %}
<div></div>
<div class="grid">
    <div></div>
    <div>
        <article>
            <form name="addModel" id="addModel" class="overflow-auto" action="/add/model" method="post">
                <!-- <legend><strong>Add Model:</strong></legend> -->
                <fieldset>
                    <label for="modelID">Weather Model Name:</label>
                    <select name="modelID" aria-label="modelID" required>
                        {% for model in add_models_list %}
                        <option value="{{model.modelID}}">{{model.modelName}}</option>
                        {% endfor %}
                    </select>
                </fieldset>
                <button type="submit">Add New Weather Model</button>
            </form>
        </article>
    </div>
    <div></div>
</div>
{% endblock %}