<!--
    Date Accessed: 20240430
    Adapted From
    Used the source as a base to start from / adapted and added our own functionality 
    Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/
-->
{% extends 'base.j2' %}
{% block content %}
<h4>{% block title %} Add a Reading {% endblock %}</h4>
<div></div>
{% for mesg in get_flashed_messages() %}
<h3>{{ mesg }}</h3>
{% endfor %}
<div></div>
<div class="grid">
    <div></div>
    <div>
        <article>
            <form name="addReading" id="addReading" class="overflow-auto" action="/add/reading/0" method="post">
                <fieldset>
                    <p>Note: Only the <strong>La Bajada Holfuy</strong> sensor is supported for the Minimum Viable Product!</p>
                    <label for="sensorID">Select a Sensor:</label>
                    <select name="sensorID" aria-label="sensorID" required>                        
                        {% for sensor in sensors %}
                        <option value="{{sensor.sensorID}}">{{sensor.sensorName}}</option>
                        {% endfor %}
                    </select>
                </fieldset>
                <button type="submit">Submit</button>
            </form>
        </article>
    </div>
    <div></div>
</div>
{% endblock %}