{% extends 'base.j2' %}

{% block content %}
<h4>{% block title %} Add a Sensor {% endblock %}</h4>
<div></div>
{% for mesg in get_flashed_messages() %}
<h3>{{ mesg }}</h3>
{% endfor %}
<div></div>
<div class="grid">
    <div></div>
    <div>
        <article>
            <form name="addSensor" id="addSensor" action="/add/sensor" method="post">
                <fieldset>
                    <label for="name">Sensor Name:</label>
                    <input type="text" placeholder="max 100 characters" class="form-control" id="sensorName" name="sensorName"
                        pattern="[A-Za-z0-9\s]+" required>
                    <label for="key">Sensor API Key:</label>
                    <input type="text" placeholder="max 100 characters" class="form-control" id="sensorAPIKey"
                        name="sensorAPIKey" required>
                    <label for="sensorNumber">Sensor Number:</label>
                    <input type="number" id="sensorNumber" name="sensorNumber" placeholder="11">
                    <label for="location">Location:</label>
                    <select name="location" aria-label="location" required>
                        {% for location in locations %}
                        <option value="{{location.locationID}}">{{location.locationName}}</option>
                        {% endfor %}
                    </select>
                </fieldset>
                <button type="submit">Add New Sensor</button>
            </form>
        </article>
    </div>
    <div></div>
</div>
{% endblock %}