{% extends 'base.j2' %}

{% block content %}
    <h4>{% block title %} Add a Date {% endblock %}</h4>
    {% for mesg in get_flashed_messages() %}
    <h3>{{ mesg }}</h3>
    {% endfor %}
    <div class="grid">
        <div></div>
        <div>
            <article>
                <form name="addDate" id="addDate" action="/add/date" method="post">
                    <!-- <legend><strong>Add Date:</strong></legend> -->
                    <fieldset>
                        <label for="name">Date:</label>
                        <input type="datetime-local" id="dateDateTime" name="dateDateTime" required>
                    </fieldset>
                    <button type="submit">Add New Date</button>
                </form>
            </article>
        </div>
        <div></div>
    </div>
    
{% endblock %}