{% extends 'base.j2' %}

{% block content %}
	<h4>{% block title %} Add a Reading {% endblock %}</h4>
    <article>
    <div></div>
    {% for mesg in get_flashed_messages() %}
    <h3>{{ mesg }}</h3>
    {% endfor %}
    <div></div>
    <div class="grid">
        <div>
            <article>
                <form action="/add/reading" method="post">
                    <label for="sensorlist">Select a Sensor:</label>
                    <select id="sensorlist" name="sensorlist" required>
                        {% if sensors %}
                        {% for sensor in sensors %}
                        <option value="{{ sensor.sensorID }}">{{ sensor.sensorName }}</option>
                        {% endfor %}
                        {% else %}
                        <a>You need to add a sensor before continuing</a>
                        {% endif %}
                    </select>
                    <p></p>
                    <button type="submit">Submit</button>
                </form>
            </article>
        </div>
    </div>
{% endblock %}