{% extends 'base.j2' %}

{% block content %}
    <h1>{% block title %} Add a Model {% endblock %}</h1>
    <div></div>
    {% for mesg in get_flashed_messages() %}
    <h3>{{ mesg }}</h3>
    {% endfor %}
    <div></div>
    <div class="grid">
        <div></div>
        <div>
            <article>
                <form name="addModel" id="addModel" action="/add/model" method="post">
                    <!-- <legend><strong>Add Model:</strong></legend> -->
                    <fieldset>
    
                        <label for="name">Model Name:</label>
                        <input type="text" value="max 100 characters" class="form-control" id="modelName" name="modelName"
                            required>
    
                    </fieldset>
                    <button type="submit">Add New Model</button>
                </form>
            </article>
        </div>
        <div></div>
    </div>
    
{% endblock %}