<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf8">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Model-Managers Website</title>

</head>
<body>
    <nav>
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/library">Edit Sensor Library</a></li>
            <li><a href="/add">Add A Sensor</a></li>
          </ul>
    </nav>
    <p></p>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>