<!DOCTYPE html>
<html lang="en" data-theme="light">
<!--
    Date Accessed: 20240430
    Adapted From
    Used the source as a base to start from / adapted and added our own functionality 
    Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/
-->
<head>
    <meta charset="utf8">
    <meta name="robots" content="noindex">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="color-scheme" content="light dark" />
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}"/>
    <link href="{{ url_for('static',filename='css/app.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/pico.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/pico.colors.min.css') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static',filename='img/android-chrome-512x512.png') }}"> 
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static',filename='img/android-chrome-192x192.png') }}"> 
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='img/favicon-16x16.png') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Wind Analysis</title>
</head>
<body>
    <main class="container-fluid">
        <nav class="navbar">
            <ul>
                <li><a href="/" class="contrast"><strong>Wind Analysis Home</strong></a></li>
            </ul>
            <ul>
                <li><a href="/forecasts">Forecasts</a></li>
                <li><a href="/locations">Locations</a></li>
                <li><a href="/sensors">Sensors</a></li>
                <li><a href="/models">Models</a></li>
                <li><a href="/dates">Dates</a></li>
                <li><a href="/readings">Readings</a></li>
            </ul>
        </nav>
        <p></p>
        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
    <div></div>
    </main>
    <div></div>
    <footer>
        <p>&copy; 2024 David McGee & Theodore Norred</p>
    </footer>
</body>
</html>