<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf8">
    <meta name="robots" content="noindex">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="static/img/favicon.ico">
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="512x512" href="static/img/android-chrome-512x512.png"> 
    <link rel="icon" type="image/png" sizes="192x192" href="static/img/android-chrome-192x192.png"> 
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
    <title>Model-Managers Website</title>

</head>
<body>
    <nav>
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/library">Sensor Library</a></li>
            <li><a href="/add">Add A Sensor</a></li>
          </ul>
    </nav>
    <main>
        <p></p>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <p>&copy; 2024 David McGee</p>
    </footer>
</body>
</html>