{% extends 'base.j2' %}

{% block content %}
	<h1>{% block title %} Edit a Sensor or Location {% endblock %}</h1>
    <div>
        <form name="editsensor" id="editsensor" action="/edit/sensor/{{specific_sensor[0].sensorID}}" method="post">
            <legend><strong>Edit Sensor:</strong></legend>
            <fieldset>
                <!-- We can preset form inputs to match attributes currently stored for 'id' of the sensor to be updated via value= and accessing our passed Sensors list -->
                <!-- Create hidden form input to store the passed 'id' of the sensor we are editing so we can access it easily in our 'POST' method in our app.py -->
                <input type="hidden" value="{{specific_sensor[0].sensorID}}" class="form-control" id="sensorID" name="sensorID" required>
                <label for="name">Sensor Name:</label>
                <input type="text" value="{{specific_sensor[0].sensorName}}" class="form-control" id="sensorName" name="sensorName" required>

                <label for="key">Sensor API Key:</label>
                <input type="text" value="{{specific_sensor[0].sensorAPIKey}}" class="form-control" id="sensorAPIKey" name="sensorAPIKey" required>

                <label for="number">Sensor Number:</label>
                <input type="text" value="{{specific_sensor[0].sensorNumber}}" class="form-control" id="sensorNumber" name="sensorNumber" required>
                    
                <label for="latitude">Latitude:</label>
                <input type="text" value="{{specific_sensor[0].locationLatitude}}" class="form-control" id="locationLatitude" name="locationLatitude" required> 
            
                <label for="longitude">Longitude:</label>
                <input type="text" value="{{specific_sensor[0].locationLongitude}}" class="form-control" id="locationLongitude" name="locationLongitude" required> 

                <label for="altitude">Altitude:</label>
                <input type="text" value="{{specific_sensor[0].locationAltitude}}" class="form-control" id="locationAltitude" name="locationAltitude" required> 
                    	
            </fieldset>
        <button type="submit">Submit</button>
        </form>

{% endblock %}