<html>

<head>
    <title>Model Managers Website</title>
    <link href="style.css" rel="stylesheet" type="text/css" />

    <nav>
		<ul class="menu">
		<li><a href="/">Home</a></li>
		<li><a href="/editsensors">Edit Sensors</a></li>
		</ul>
    </nav>
</head>

<body>
	<h1>Edit Sensors Page</h1>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Editing Sensor: </caption>
            <!-- Access sensors list passed from app.py -->
            {% if sensors %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in sensors[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in sensors -->
                    {% for item in sensors %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <!-- form to edit sensors-->
            <form id="editSensor" action="/editsensors/{{sensors[0].id}}" method="post">
                <legend><strong>Edit Sensor</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of the sensor to be updated via value= and accessing our passed Sensors list -->
                    <!-- Create hidden form input to store the passed 'id' of the sensor we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{sensors[0].sensorID}}" class="form-control" id="sensorID" name="sensorID" required>
                    <label for="name">Sensor Name:</label>
                    <input type="text" value="{{sensors[0].sensorName}}" class="form-control" id="sensorName" name="sensorName" pattern="[A-Za-z]{1,}" required>

                    <label for="key">Sensor API Key:</label>
					<input type="text" value="{{sensors[0].sensorAPIKEY}}" class="form-control" id="sensorAPIKey" name="sensorAPIKey" pattern="[A-Za-z]{1,}" required>

                    <label for="number">Sensor Number:</label>
                    <input type="text" value="{{sensors[0].sensorNumber}}" class="form-control" id="sensorNumber" name="sensorNumber" pattern="[A-Za-z0-9]{1,}" required>

                    <select class="form-control" id="sensor" name="sensor" pattern="[0-4]{1}" placeholder="" required> 
                        <!-- Access our sensor list passed from app.py-->
                        <option value="0">&nbsp;</option>
                        {% for sensor in sensors %}
                                <!-- If the value iterated sensor matches the value of the sensor of the sensor currently Editing, pre-select that option -->
                                {% if sensor['id'] == sensors[0].sensorID %}
                                    <option value="{{ sensor['id'] }}" selected> {{sensor['name']}}</option>
                                {% else %}
                                    <option value="{{ sensor['id'] }}"> {{sensor['sensorName']}}</option> 
                                {% endif %}

                        <!-- End of this for loop -->
                        {% endfor %} 
                    </select>	
                        
                    <label for="latitude">Latitude:</label>
                    <input type="text" value="{{sensors[0].locationLatitude}}" class="form-control" id="locationLatitude" name="locationLatitude" pattern="[A-Za-z0-9]{1,}"> 
                
                    <label for="longitude">Longitude:</label>
                    <input type="text" value="{{sensors[0].locationLongitude}}" class="form-control" id="locationLongitude" name="locationLongitude" pattern="[A-Za-z0-9]{1,}"> 

                    <label for="altitude">Altitude:</label>
                    <input type="text" value="{{sensors[0].locationAltitude}}" class="form-control" id="locationAltitude" name="locationAltitude" pattern="[A-Za-z0-9]{1,}"> 

                </fieldset>
                <input type="submit" value="Edit Sensor" name="Edit_Sensor" class="btn btn-primary" style="margin:.5rem;">
                <a href='/people'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>