{% extends 'base.j2' %}

{% block content %}
    <h1>{% block title %} Project Group 10 {% endblock %}</h1>
    <p></p>
    <p>This is Skip McGee's project for the Model-Manager's company.</p>
    <p></p>
    <p>Select a Sensor</p>
    <p></p>
    <form method="post">
    <label for="sensorlist">Your Current Sensors:</label>
    <select id="sensorlist" name="sensorlist" required>
        {% if sensors %}
            {% for sensor in sensors %}
        <option value="{{ sensor.sensorID }}">{{ sensor.sensorName }}</option>
            {% endfor %}
        {% else %}
        <a>You need to add a sensor before continuing</a>
        {% endif %}
    </select>
    <p></p>
    <p>Select a Start Date:</p>
    <input type="date" id="fromdate" name="fromdate" required>
    <p></p>
    <p>Select an End Date:</p>
    <input type="date" id="todate" name="todate" required>
    <p></p>
    <button type="submit">Submit</button>
    </form>
{% endblock %}