<!--
    Date Accessed: 20240430
    Referenced and used: https://github.com/osu-cs340-ecampus/flask-starter-app/
-->
{% extends 'base.j2' %}
{% block content %}
	<h4>{% block title %} Browse Your Library {% endblock %}</h4>
    <article>
    <div></div>
    {% for mesg in get_flashed_messages() %}
    <h3>{{ mesg }}</h3>
    {% endfor %}
    <div></div>
    <div id="sensorlibrary" class="overflow-auto">
        <table class="striped"> 
            <caption>Current Sensors: </caption>
            {% if sensors %}
                <thead>
                    <tr>
                        {% for key in sensors[0].keys() %}
                        {% if key != 'sensorID' %}
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endif %}
                        {% endfor %}
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in sensors %}
                    <tr>
                        {% for key in item.keys() %}
                        {% if key != 'sensorID' %}
                        <td>{{item[key]}}</td>
                        {% endif %}
                        {% endfor %}
                        <p></p>
                        <td><a href="/edit/sensor/{{item.sensorID}}" class="btn btn-default" method="get"><span class="material-icons">mode_edit</span></a></td>
						<td><a href="/delete/sensor/{{item.sensorID}}" class="btn btn-default" method="post"><span class="material-icons">delete</span></a></td>
                    </tr> 
                    {% endfor %}
                </tbody>
            {% endif %} 
        </table>

        <div class="grid">
            <div></div>
            <div><a href='/add/sensor'><input class="btn" type="button" value="Add a Sensor" method="get"></a></div>
            <div></div>
        </div>
        
    </div>
</article>
<div></div>
<article>
<div></div>
    <div id="locationTable" class="overflow-auto">
        <table class="striped">
            <caption>Current Locations: </caption>
            {% if locations %}
            <thead>
                <tr>
                    {% for key in locations[0].keys() %}
                    {% if key != 'locationID' %}
                    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                    {% endif %}
                    {% endfor %}
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for item in locations %}
                <tr>
                    {% for key in item.keys() %}
                    {% if key != 'locationID' %}
                    <td>{{item[key]}}</td>
                    {% endif %}
                    {% endfor %}
                    <p></p>
                    <td><a href="/edit/location/{{item.locationID}}" class="btn btn-default" method="get"><span
                                class="material-icons">mode_edit</span></a></td>
                    <td><a href="/delete/location/{{item.locationID}}" class="btn btn-default" method="post"><span
                                class="material-icons">delete</span></a></td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>

        <div class="grid">
            <div></div>
            <div><a href='/add/location'><input class="btn" type="button" value="Add a location" method="get"></a></div>
            <div></div>
        </div>
    </div>
<div></div>
</article>
<div></div>
<article>
    <div id="modellibrary" class="overflow-auto">
        <table class="striped"> 
            <caption>Current Models: </caption>
            {% if models %}
                <thead>
                    <tr>
                        {% for key in models[0].keys() %}
                        {% if key != 'modelID' %}
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">Weather Model Name</th>
                        {% endif %}
                        {% endfor %}
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in models %}
                    <tr>
                        {% for key in item.keys() %}
                        {% if key != 'modelID' %}
                        <td>{{item[key]}}</td>
                        {% endif %}
                        {% endfor %}
                        <p></p>
                        <td><a href="/edit/model/{{item.modelID}}" class="btn btn-default" method="get"><span class="material-icons">mode_edit</span></a></td>
						<td><a href="/delete/model/{{item.modelID}}" class="btn btn-default" method="post"><span class="material-icons">delete</span></a></td>
                    </tr>
                    {% endfor %} 
                </tbody>
            {% endif %} 
        </table>
        <div class="grid">
            <div></div>
            <div><a href='/add/model'><input class="btn" type="button" value="Add a Model" method="get"></a></div>
            <div></div>
        </div>  
    </div>
</article>
<div></div>
{% endblock %}