{% extends 'base.j2' %}

{% block content %}

	<h1>{% block title %} Browse Your Library {% endblock %}</h1>
    <article>
    <div id="sensorlibrary" class="overflow-auto">
        <table class="striped"> 
            <caption>Current Sensors: </caption>
            {% if sensors %}
                <thead>
                    <tr>
                        {% for key in sensors[0].keys() %}
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %}
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in sensors %}
                    <tr>
                        {% for key in item.keys() %}
                        <td>{{item[key]}}</td>
                        {% endfor %}
                        <p></p>
                        <td><a href="/edit/sensor/{{item.sensorID}}" class="btn btn-default" method="get"><span class="material-icons">mode_edit</span></a></td>
						<td><a href="/delete/sensor/{{item.sensorID}}" class="btn btn-default" method="post"><span class="material-icons">delete</span></a></td>
                    </tr> 
                    {% endfor %}
                </tbody>
            {% endif %} 
        </table>

        <div class="grid">
            <div></div>
            <div><a href='/add/sensor'><input class="btn" type="button" value="Add a Sensor" method="get"></a></div>
            <div></div>
        </div>
        
    </div>
</article>

<article>
    <div id="modellibrary" class="overflow-auto">
        <table class="striped"> 
            <caption>Current Models: </caption>
            {% if models %}
                <thead>
                    <tr>
                        {% for key in models[0].keys() %}
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %}
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in models %}
                    <tr>
                        {% for key in item.keys() %}
                        <td>{{item[key]}}</td>
                        {% endfor %}
                        <p></p>
                        <td><a href="/edit/model/{{item.modelID}}" class="btn btn-default" method="get"><span class="material-icons">mode_edit</span></a></td>
						<td><a href="/delete/model/{{item.modelID}}" class="btn btn-default" method="post"><span class="material-icons">delete</span></a></td>
                    </tr>
                    {% endfor %} 
                </tbody>
            {% endif %} 
        </table>
        <div class="grid">
            <div></div>
            <div><a href='/add/model'><input class="btn" type="button" value="Add a Model" method="get"></a></div>
            <div></div>
        </div>  
    </div>
</article>
{% endblock %}