<html>
<head>
    <title>Model Managers Website</title>
</head>
<body>
    <h1>Group 10's Project</h1>
    <p>This is Skip McGee's and Kurt Griessman's project for the Model-Manager's company.</p>



</body>
</html>