<html>
<head>
    <title>Model Managers Website</title>
    <nav>
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add</a></li>
          </ul>
        </nav>
</head>
<body>
    <h1>Group 10's Project</h1>
    <p>This is Skip McGee's and Kurt Griessman's project for the Model-Manager's company.</p>



</body>
</html>